You're receiving this email as an administrator of %{provider} within the AAF
Identity Enhancement Service.

A request from %{name} &lt;%{mail}&gt; was submitted recently to request that
%{provider} enhance their identity so they can access additional research
related services.

Please visit the following link to see full request details:

<%{url}>
